html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', 'Arial', 'Verdana', sans-serif;
    background: #BBBBBB;
    color: #333;
    margin: 0;
}

h1 {
text-align: center;
}

p {
  font-size: 1.5rem;
  max-width: 33%;
  text-align: center;
  margin: auto;
  padding-bottom: 2rem;
}

#container {
  max-width: 75%;
  margin: auto;
  padding-bottom: 1rem;
}

#paMap {
  height: 600px;
  width: 100%;
  margin-top: 2rem;
  border: 1px solid #000;
}

#paMap p {
  text-align: center;
  max-width: 100%;
  margin: auto;
  font-size: 1rem;
}

#paMap h3 {
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width:720px) {
  p {
    max-width: 66%;
    padding: 10%;
  }
}
